In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv('Absenteeism_data.csv')

In [3]:
raw_csv_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [4]:
df = raw_csv_data.copy()

In [5]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [6]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [7]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [8]:
df.drop(['ID'], axis = 1)

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
30,18,17/08/2015,179,51,38,205.917,31,1,0,0,8
31,18,27/08/2015,235,29,48,205.917,33,1,1,5,8
32,23,27/08/2015,235,11,37,205.917,29,3,1,1,4
33,18,17/08/2015,235,29,48,205.917,33,1,1,5,8
34,23,17/08/2015,179,51,38,205.917,31,1,0,0,2
35,23,17/08/2015,361,52,28,205.917,27,1,1,4,1
36,24,04/08/2015,289,36,33,205.917,30,1,2,1,8
37,11,20/08/2015,291,50,32,205.917,23,1,0,0,4
38,28,21/08/2015,235,29,48,205.917,33,1,1,5,8
39,23,28/08/2015,260,50,36,205.917,23,1,4,0,4
40,23,01/09/2015,184,42,27,241.476,21,1,0,0,2
41,23,07/09/2015,118,10,37,241.476,28,1,0,0,4
42,23,01/09/2015,179,51,38,241.476,31,1,0,0,4
43,19,08/09/2015,235,20,43,241.476,38,1,1,0,8
44,23,09/09/2015,155,12,34,241.476,25,1,2,0,2
45,23,13/09/2015,118,10,37,241.476,28,1,0,0,3
46,23,14/09/2015,179,51,38,241.476,31,1,0,0,3
47,23,24/09/2015,291,31,40,241.476,25,1,1,1,4
48,22,04/09/2015,260,50,36,241.476,23,1,4,0,8
49,14,14/09/2015,291,31,40,241.476,25,1,1,1,32
50,0,21/09/2015,260,50,36,241.476,23,1,4,0,0
51,0,28/09/2015,225,26,28,241.476,24,1,1,2,0
52,23,08/09/2015,225,26,28,241.476,24,1,1,2,2
53,23,15/09/2015,118,10,37,241.476,28,1,0,0,2
54,0,22/09/2015,289,36,33,241.476,30,1,2,1,0
55,0,29/09/2015,118,13,50,241.476,31,1,1,0,0
56,18,16/09/2015,225,26,28,241.476,24,1,1,2,3
57,23,23/09/2015,179,51,38,241.476,31,1,0,0,3
58,0,30/09/2015,369,17,31,241.476,25,1,3,0,0
59,23,11/09/2015,248,25,47,241.476,32,1,2,1,1
60,23,18/09/2015,179,51,38,241.476,31,1,0,0,3
61,23,25/09/2015,260,50,36,241.476,23,1,4,0,4
62,23,06/10/2015,179,51,38,253.465,31,1,0,0,3
63,23,13/10/2015,118,10,37,253.465,28,1,0,0,3
64,0,14/10/2015,118,13,50,253.465,31,1,1,0,0
65,23,15/10/2015,179,26,30,253.465,19,3,0,0,1
66,23,16/10/2015,179,51,38,253.465,31,1,0,0,3
67,23,16/10/2015,225,26,28,253.465,24,1,1,2,3
68,23,06/10/2015,118,10,37,253.465,28,1,0,0,3
69,23,14/10/2015,225,26,28,253.465,24,1,1,2,2
70,23,21/10/2015,248,25,47,253.465,32,1,2,1,2
71,23,22/10/2015,291,31,40,253.465,25,1,1,1,5
72,23,21/10/2015,179,51,38,253.465,31,1,0,0,8
73,23,21/10/2015,225,26,28,253.465,24,1,1,2,3
74,19,22/10/2015,260,50,36,253.465,23,1,4,0,16
75,14,13/10/2015,291,31,40,253.465,25,1,1,1,8
76,28,20/10/2015,225,26,28,253.465,24,1,1,2,2
77,26,21/10/2015,289,36,33,253.465,30,1,2,1,8
78,23,23/10/2015,361,52,28,253.465,27,1,1,4,1
79,28,30/10/2015,260,50,36,253.465,23,1,4,0,3
80,23,05/11/2015,179,51,38,306.345,31,1,0,0,1
81,23,04/11/2015,225,26,28,306.345,24,1,1,2,1
82,13,05/11/2015,179,51,38,306.345,31,1,0,0,8
83,21,12/11/2015,179,22,40,306.345,22,2,2,0,8
84,23,19/11/2015,291,31,40,306.345,25,1,1,1,5
85,10,02/11/2015,155,12,34,306.345,25,1,2,0,32
86,22,09/11/2015,189,29,33,306.345,25,1,2,2,8
87,14,16/11/2015,291,31,40,306.345,25,1,1,1,40
88,23,18/11/2015,225,26,28,306.345,24,1,1,2,1
89,6,20/11/2015,155,12,34,306.345,25,1,2,0,8
90,23,18/11/2015,225,26,28,306.345,24,1,1,2,3
91,21,25/11/2015,179,22,40,306.345,22,2,2,0,8
92,13,20/11/2015,225,26,28,306.345,24,1,1,2,3
93,28,27/11/2015,260,50,36,306.345,23,1,4,0,4
94,28,02/11/2015,248,25,47,306.345,32,1,2,1,1
95,28,10/11/2015,225,26,28,306.345,24,1,1,2,3
96,7,11/11/2015,289,36,33,306.345,30,1,2,1,24
97,23,26/11/2015,291,31,40,306.345,25,1,1,1,3
98,23,01/12/2015,248,25,47,261.306,32,1,2,1,1
99,19,01/12/2015,118,10,37,261.306,28,1,0,0,64
100,23,02/12/2015,118,13,50,261.306,31,1,1,0,2
101,26,02/12/2015,235,11,37,261.306,29,3,1,1,8
102,23,03/12/2015,225,26,28,261.306,24,1,1,2,2
103,26,04/12/2015,260,50,36,261.306,23,1,4,0,8
104,19,08/12/2015,118,10,37,261.306,28,1,0,0,56
105,22,09/12/2015,361,52,28,261.306,27,1,1,4,8
106,28,10/12/2015,225,26,28,261.306,24,1,1,2,3
107,28,11/12/2015,260,50,36,261.306,23,1,4,0,3
108,23,15/12/2015,225,26,28,261.306,24,1,1,2,2
109,22,16/12/2015,361,52,28,261.306,27,1,1,4,8
110,27,11/12/2015,118,10,37,261.306,28,1,0,0,2
111,19,18/12/2015,246,25,41,261.306,23,1,0,0,8
112,23,18/12/2015,225,26,28,261.306,24,1,1,2,2
113,23,06/01/2016,225,26,28,308.593,24,1,1,2,1
114,19,04/01/2016,118,10,37,308.593,28,1,0,0,1
115,27,05/01/2016,118,10,37,308.593,28,1,0,0,1
116,18,05/01/2016,155,12,34,308.593,25,1,2,0,8
117,27,06/01/2016,225,26,28,308.593,24,1,1,2,2
118,23,07/01/2016,184,42,27,308.593,21,1,0,0,2
119,28,07/01/2016,225,26,28,308.593,24,1,1,2,2
120,27,08/01/2016,225,26,28,308.593,24,1,1,2,1
121,27,11/01/2016,118,10,37,308.593,28,1,0,0,2
122,27,12/01/2016,225,26,28,308.593,24,1,1,2,2
123,27,12/01/2016,118,10,37,308.593,28,1,0,0,2
124,27,13/01/2016,118,10,37,308.593,28,1,0,0,2
125,27,14/01/2016,118,10,37,308.593,28,1,0,0,2
126,27,15/01/2016,118,10,37,308.593,28,1,0,0,2
127,27,11/01/2016,118,10,37,308.593,28,1,0,0,2
128,27,12/01/2016,118,10,37,308.593,28,1,0,0,2
129,18,12/01/2016,179,26,30,308.593,19,3,0,0,8
130,18,12/01/2016,289,36,33,308.593,30,1,2,1,8
131,27,13/01/2016,118,10,37,308.593,28,1,0,0,2
132,23,21/01/2016,184,42,27,308.593,21,1,0,0,2
133,27,28/01/2016,118,10,37,308.593,28,1,0,0,2
134,27,25/01/2016,118,10,37,308.593,28,1,0,0,0
135,23,26/01/2016,225,26,28,308.593,24,1,1,2,1
136,22,28/01/2016,289,36,33,308.593,30,1,2,1,3
137,23,05/02/2016,184,42,27,302.585,21,1,0,0,1
138,1,03/02/2016,246,25,41,302.585,23,1,0,0,8
139,11,10/02/2016,179,51,38,302.585,31,1,0,0,8
140,28,11/02/2016,155,12,34,302.585,25,1,2,0,2
141,23,11/02/2016,189,29,33,302.585,25,1,2,2,8
142,28,12/02/2016,260,50,36,302.585,23,1,4,0,2
143,22,12/02/2016,289,36,33,302.585,30,1,2,1,8
144,11,08/02/2016,388,15,50,302.585,24,1,0,0,8
145,1,09/02/2016,388,15,50,302.585,24,1,0,0,8
146,28,15/02/2016,225,26,28,302.585,24,1,1,2,2
147,23,09/02/2016,225,26,28,302.585,24,1,1,2,2
148,23,16/02/2016,179,26,30,302.585,19,3,0,0,1
149,23,23/02/2016,184,42,27,302.585,21,1,0,0,8
150,25,25/02/2016,225,26,28,302.585,24,1,1,2,3
151,18,15/02/2016,330,16,28,302.585,25,2,0,0,8
152,23,16/02/2016,330,16,28,302.585,25,2,0,0,1
153,23,17/02/2016,225,26,28,302.585,24,1,1,2,1
154,19,25/02/2016,189,29,33,302.585,25,1,2,2,8
155,28,01/03/2016,291,50,32,343.253,23,1,0,0,2
156,19,01/03/2016,260,50,36,343.253,23,1,4,0,8
157,19,08/03/2016,157,27,29,343.253,22,1,0,0,3
158,17,15/03/2016,179,22,40,343.253,22,2,2,0,8
159,22,16/03/2016,291,31,40,343.253,25,1,1,1,8
160,13,02/03/2016,260,50,36,343.253,23,1,4,0,8
161,13,03/03/2016,179,26,30,343.253,19,3,0,0,8
162,14,04/03/2016,248,25,47,343.253,32,1,2,1,3
163,13,04/03/2016,260,50,36,343.253,23,1,4,0,40
164,11,07/03/2016,179,22,40,343.253,22,2,2,0,40
165,1,14/03/2016,155,12,34,343.253,25,1,2,0,16
166,26,21/03/2016,260,50,36,343.253,23,1,4,0,16
167,13,22/03/2016,155,12,34,343.253,25,1,2,0,8
168,6,24/03/2016,289,36,33,343.253,30,1,2,1,8
169,8,24/03/2016,179,22,40,343.253,22,2,2,0,8
170,28,25/03/2016,260,50,36,343.253,23,1,4,0,4
171,23,25/03/2016,225,26,28,343.253,24,1,1,2,1
172,14,28/03/2016,279,5,39,343.253,24,1,2,0,8
173,13,29/03/2016,179,51,38,343.253,31,1,0,0,24
174,23,30/03/2016,225,26,28,343.253,24,1,1,2,2
175,11,28/03/2016,225,26,28,343.253,24,1,1,2,8
176,13,28/03/2016,179,26,30,343.253,19,3,0,0,1
177,11,29/03/2016,225,26,28,343.253,24,1,1,2,8
178,11,30/03/2016,225,26,28,343.253,24,1,1,2,16
179,13,30/03/2016,179,51,38,343.253,31,1,0,0,3
180,14,17/03/2016,279,5,39,343.253,24,1,2,0,16
181,28,18/03/2016,225,26,28,343.253,24,1,1,2,2
182,14,25/03/2016,248,25,47,343.253,32,1,2,1,3
183,28,28/03/2016,225,26,28,343.253,24,1,1,2,1
184,28,06/04/2016,291,31,40,326.452,25,1,1,1,1
185,23,13/04/2016,225,26,28,326.452,24,1,1,2,1
186,28,12/04/2016,155,12,34,326.452,25,1,2,0,1
187,13,13/04/2016,246,25,41,326.452,23,1,0,0,24
188,23,14/04/2016,155,12,34,326.452,25,1,2,0,1
189,28,15/04/2016,225,26,28,326.452,24,1,1,2,2
190,28,15/04/2016,260,50,36,326.452,23,1,4,0,4
191,13,06/04/2016,179,51,38,326.452,31,1,0,0,24
192,23,07/04/2016,118,13,50,326.452,31,1,1,0,1
193,23,08/04/2016,291,31,40,326.452,25,1,1,1,3
194,14,08/04/2016,246,25,41,326.452,23,1,0,0,8
195,28,22/04/2016,291,31,40,326.452,25,1,1,1,1
196,28,29/04/2016,248,25,47,326.452,32,1,2,1,8
197,19,29/04/2016,260,50,36,326.452,23,1,4,0,56
198,19,26/04/2016,289,36,33,326.452,30,1,2,1,8
199,12,27/04/2016,155,12,34,326.452,25,1,2,0,24
200,19,27/04/2016,378,49,36,326.452,21,1,2,4,8
201,13,28/04/2016,289,36,33,326.452,30,1,2,1,16
202,7,08/04/2016,235,11,37,326.452,29,3,1,1,3
203,0,04/04/2016,235,29,48,326.452,33,1,1,5,0
204,13,04/05/2016,289,36,33,378.884,30,1,2,1,8
205,28,05/05/2016,155,12,34,378.884,25,1,2,0,2
206,28,02/05/2016,155,12,34,378.884,25,1,2,0,1
207,18,03/05/2016,179,51,38,378.884,31,1,0,0,8
208,19,03/05/2016,225,26,28,378.884,24,1,1,2,8
209,7,11/05/2016,184,42,27,378.884,21,1,0,0,4
210,28,09/05/2016,155,12,34,378.884,25,1,2,0,2
211,12,10/05/2016,179,51,38,378.884,31,1,0,0,1
212,13,04/05/2016,289,36,33,378.884,30,1,2,1,24
213,0,11/05/2016,279,5,39,378.884,24,1,2,0,0
214,0,18/05/2016,330,16,28,378.884,25,2,0,0,0
215,0,25/05/2016,378,49,36,378.884,21,1,2,4,0
216,0,25/05/2016,388,15,50,378.884,24,1,0,0,0
217,11,24/05/2016,179,51,38,378.884,31,1,0,0,1
218,13,11/05/2016,118,13,50,378.884,31,1,1,0,24
219,22,27/05/2016,361,52,28,378.884,27,1,1,4,8
220,19,06/06/2016,246,25,41,377.550,23,1,0,0,8
221,22,13/06/2016,361,52,28,377.550,27,1,1,4,8
222,10,14/06/2016,246,25,41,377.550,23,1,0,0,24
223,23,16/06/2016,291,31,40,377.550,25,1,1,1,4
224,10,17/06/2016,246,25,41,377.550,23,1,0,0,8
225,11,13/06/2016,179,51,38,377.550,31,1,0,0,8
226,23,20/06/2016,155,12,34,377.550,25,1,2,0,4
227,10,27/06/2016,246,25,41,377.550,23,1,0,0,8
228,13,29/06/2016,118,13,50,377.550,31,1,1,0,8
229,13,03/06/2016,235,11,37,377.550,29,3,1,1,16
230,23,07/06/2016,118,13,50,377.550,31,1,1,0,1
231,13,08/06/2016,118,13,50,377.550,31,1,1,0,80
232,22,09/06/2016,378,49,36,377.550,21,1,2,4,8
233,11,10/06/2016,179,51,38,377.550,31,1,0,0,2
234,28,20/06/2016,289,48,49,377.550,36,1,0,2,2
235,28,30/06/2016,225,26,28,377.550,24,1,1,2,2
236,19,05/07/2016,155,12,34,275.312,25,1,2,0,16
237,1,06/07/2016,118,13,50,275.312,31,1,1,0,8
238,5,08/07/2016,118,10,37,275.312,28,1,0,0,8
239,26,08/07/2016,118,10,37,275.312,28,1,0,0,4
240,26,12/07/2016,330,16,28,275.312,25,2,0,0,8
241,18,14/07/2016,179,26,30,275.312,19,3,0,0,8
242,25,15/07/2016,155,12,34,275.312,25,1,2,0,2
243,1,18/07/2016,330,16,28,275.312,25,2,0,0,8
244,1,19/07/2016,330,16,28,275.312,25,2,0,0,8
245,25,18/07/2016,157,27,29,275.312,22,1,0,0,3
246,22,19/07/2016,361,52,28,275.312,27,1,1,4,8
247,26,20/07/2016,289,36,33,275.312,30,1,2,1,8
248,26,21/07/2016,179,51,38,275.312,31,1,0,0,8
249,19,11/07/2016,289,36,33,275.312,30,1,2,1,32
250,19,14/07/2016,289,36,33,275.312,30,1,2,1,8
251,0,21/07/2016,260,50,36,275.312,23,1,4,0,0
252,19,04/08/2016,289,36,33,265.615,30,1,2,1,8
253,19,11/08/2016,157,27,29,265.615,22,1,0,0,3
254,23,07/08/2016,289,36,33,265.615,30,1,2,1,1
255,18,08/08/2016,228,14,58,265.615,22,1,2,1,8
256,13,10/08/2016,300,26,43,265.615,25,1,2,1,1
257,14,10/08/2016,300,26,43,265.615,25,1,2,1,2
258,28,11/08/2016,260,50,36,265.615,23,1,4,0,4
259,23,08/08/2016,289,36,33,265.615,30,1,2,1,4
260,23,09/08/2016,248,25,47,265.615,32,1,2,1,1
261,11,10/08/2016,268,11,33,265.615,25,2,0,0,8
262,23,10/08/2016,179,26,30,265.615,19,3,0,0,1
263,13,10/08/2016,118,13,50,265.615,31,1,1,0,3
264,25,14/08/2016,248,25,47,265.615,32,1,2,1,2
265,23,15/08/2016,235,11,37,265.615,29,3,1,1,1
266,23,17/08/2016,118,13,50,265.615,31,1,1,0,1
267,19,24/08/2016,235,11,37,265.615,29,3,1,1,8
268,8,08/08/2016,361,52,28,265.615,27,1,1,4,8
269,6,30/08/2016,184,42,27,265.615,21,1,0,0,8
270,11,05/09/2016,179,51,38,294.217,31,1,0,0,8
271,23,09/09/2016,179,51,38,294.217,31,1,0,0,3
272,19,07/09/2016,289,36,33,294.217,30,1,2,1,24
273,0,08/09/2016,235,20,43,294.217,38,1,1,0,0
274,9,12/09/2016,246,25,41,294.217,23,1,0,0,16
275,28,13/09/2016,291,31,40,294.217,25,1,1,1,3
276,0,13/09/2016,231,35,39,294.217,35,1,2,2,0
277,0,13/09/2016,291,50,32,294.217,23,1,0,0,0
278,13,14/09/2016,179,51,38,294.217,31,1,0,0,8
279,9,14/09/2016,246,25,41,294.217,23,1,0,0,32
280,23,15/09/2016,179,51,38,294.217,31,1,0,0,1
281,28,16/09/2016,291,31,40,294.217,25,1,1,1,4
282,28,16/09/2016,260,50,36,294.217,23,1,4,0,4
283,26,14/09/2016,235,20,43,294.217,38,1,1,0,8
284,28,15/09/2016,118,13,50,294.217,31,1,1,0,1
285,0,15/09/2016,235,20,43,294.217,38,1,1,0,0
286,28,16/09/2016,291,31,40,294.217,25,1,1,1,3
287,7,26/09/2016,291,31,40,294.217,25,1,1,1,40
288,13,26/09/2016,179,51,38,294.217,31,1,0,0,8
289,24,05/10/2016,289,36,33,265.017,30,1,2,1,8
290,26,05/10/2016,235,11,37,265.017,29,3,1,1,4
291,26,05/10/2016,289,36,33,265.017,30,1,2,1,8
292,22,06/10/2016,289,36,33,265.017,30,1,2,1,8
293,0,06/10/2016,118,13,50,265.017,31,1,1,0,0
294,0,06/10/2016,248,25,47,265.017,32,1,2,1,0
295,1,12/10/2016,179,26,30,265.017,19,3,0,0,8
296,7,12/10/2016,118,10,37,265.017,28,1,0,0,3
297,22,12/10/2016,369,17,31,265.017,25,1,3,0,8
298,28,14/10/2016,179,51,38,265.017,31,1,0,0,1
299,1,14/10/2016,179,26,30,265.017,19,3,0,0,64
300,0,14/10/2016,235,20,43,265.017,38,1,1,0,0
301,19,15/10/2016,289,36,33,265.017,30,1,2,1,16
302,28,16/10/2016,260,50,36,265.017,23,1,4,0,3
303,0,16/10/2016,235,20,43,265.017,38,1,1,0,0
304,23,19/10/2016,235,20,43,265.017,38,1,1,0,2
305,23,19/10/2016,235,20,43,265.017,38,1,1,0,2
306,28,20/10/2016,118,13,50,265.017,31,1,1,0,1
307,28,20/10/2016,291,31,40,265.017,25,1,1,1,4
308,23,22/10/2016,179,26,30,265.017,19,3,0,0,16
309,28,22/10/2016,118,13,50,265.017,31,1,1,0,1
310,10,26/10/2016,361,52,28,265.017,27,1,1,4,8
311,0,27/10/2016,260,50,36,265.017,23,1,4,0,0
312,0,27/10/2016,291,31,40,265.017,25,1,1,1,0
313,0,27/10/2016,157,27,29,265.017,22,1,0,0,0
314,1,28/10/2016,179,26,30,265.017,19,3,0,0,5
315,7,28/10/2016,179,26,30,265.017,19,3,0,0,5
316,23,29/10/2016,118,13,50,265.017,31,1,1,0,1
317,11,07/11/2016,118,10,37,284.031,28,1,0,0,8
318,23,07/11/2016,248,25,47,284.031,32,1,2,1,2
319,6,08/11/2016,179,51,38,284.031,31,1,0,0,8
320,28,11/11/2016,260,50,36,284.031,23,1,4,0,3
321,23,14/11/2016,291,31,40,284.031,25,1,1,1,1
322,1,14/11/2016,378,49,36,284.031,21,1,2,4,8
323,11,14/11/2016,155,12,34,284.031,25,1,2,0,120
324,26,14/11/2016,235,20,43,284.031,38,1,1,0,8
325,0,15/11/2016,330,16,28,284.031,25,2,0,0,0
326,18,16/11/2016,235,11,37,284.031,29,3,1,1,1
327,11,16/11/2016,118,10,37,284.031,28,1,0,0,3
328,25,17/11/2016,235,11,37,284.031,29,3,1,1,2
329,28,17/11/2016,179,51,38,284.031,31,1,0,0,3
330,13,18/11/2016,246,25,41,284.031,23,1,0,0,8
331,12,18/11/2016,291,31,40,284.031,25,1,1,1,4
332,13,21/11/2016,246,25,41,284.031,23,1,0,0,8
333,28,22/11/2016,179,51,38,284.031,31,1,0,0,1
334,10,23/11/2016,260,50,36,284.031,23,1,4,0,8
335,15,25/11/2016,260,50,36,284.031,23,1,4,0,8
336,0,25/11/2016,378,49,36,284.031,21,1,2,4,0
337,0,29/11/2016,279,5,39,284.031,24,1,2,0,0
338,23,24/11/2016,179,51,38,284.031,31,1,0,0,1
339,12,05/12/2016,225,26,28,236.629,24,1,1,2,3
340,28,05/12/2016,179,51,38,236.629,31,1,0,0,2
341,28,05/12/2016,179,51,38,236.629,31,1,0,0,1
342,23,05/12/2016,235,11,37,236.629,29,3,1,1,3
343,28,06/12/2016,118,13,50,236.629,31,1,1,0,1
344,28,09/12/2016,260,50,36,236.629,23,1,4,0,4
345,4,15/12/2016,246,25,41,236.629,23,1,0,0,8
346,28,15/12/2016,179,51,38,236.629,31,1,0,0,1
347,28,16/12/2016,179,51,38,236.629,31,1,0,0,1
348,23,20/12/2016,179,26,30,236.629,19,3,0,0,1
349,25,20/12/2016,118,10,37,236.629,28,1,0,0,8
350,25,22/12/2016,235,11,37,236.629,29,3,1,1,2
351,28,23/12/2016,179,51,38,236.629,31,1,0,0,1
352,13,20/12/2016,235,20,43,236.629,38,1,1,0,8
353,14,20/12/2016,235,11,37,236.629,29,3,1,1,4
354,26,21/12/2016,260,50,36,236.629,23,1,4,0,8
355,28,19/12/2016,157,27,29,236.629,22,1,0,0,2
356,28,19/12/2016,179,51,38,236.629,31,1,0,0,3
357,19,19/12/2016,289,36,33,236.629,30,1,2,1,8
358,23,04/01/2017,225,26,28,330.061,24,1,1,2,5
359,19,09/01/2017,118,10,37,330.061,28,1,0,0,32
360,23,09/01/2017,155,12,34,330.061,25,1,2,0,2
361,13,03/01/2017,235,11,37,330.061,29,3,1,1,1
362,23,03/01/2017,155,12,34,330.061,25,1,2,0,4
363,26,09/01/2017,289,36,33,330.061,30,1,2,1,8
364,3,11/01/2017,291,31,40,330.061,25,1,1,1,8
365,26,16/01/2017,235,20,43,330.061,38,1,1,0,8
366,26,16/01/2017,118,13,50,330.061,31,1,1,0,4
367,28,25/01/2017,179,51,38,330.061,31,1,0,0,1
368,28,27/01/2017,179,51,38,330.061,31,1,0,0,1
369,28,07/02/2017,118,10,37,251.818,28,1,0,0,2
370,27,01/02/2017,179,51,38,251.818,31,1,0,0,3
371,7,01/02/2017,225,26,28,251.818,24,1,1,2,1
372,22,03/02/2017,289,36,33,251.818,30,1,2,1,3
373,28,10/02/2017,260,50,36,251.818,23,1,4,0,3
374,23,17/02/2017,179,51,38,251.818,31,1,0,0,3
375,27,13/02/2017,179,51,38,251.818,31,1,0,0,2
376,27,15/02/2017,179,51,38,251.818,31,1,0,0,3
377,10,16/02/2017,179,51,38,251.818,31,1,0,0,8
378,26,16/02/2017,246,25,41,251.818,23,1,0,0,8
379,27,17/02/2017,179,51,38,251.818,31,1,0,0,3
380,22,13/02/2017,189,29,33,251.818,25,1,2,2,8
381,27,13/02/2017,179,51,38,251.818,31,1,0,0,3
382,23,21/02/2017,246,25,41,251.818,23,1,0,0,2
383,23,21/02/2017,291,31,40,251.818,25,1,1,1,2
384,11,22/02/2017,157,27,29,251.818,22,1,0,0,16
385,27,22/02/2017,179,51,38,251.818,31,1,0,0,3
386,27,24/02/2017,179,51,38,251.818,31,1,0,0,3
387,10,24/02/2017,246,25,41,251.818,23,1,0,0,24
388,27,22/02/2017,179,51,38,251.818,31,1,0,0,3
389,27,24/02/2017,179,51,38,251.818,31,1,0,0,3
390,18,07/03/2017,118,10,37,244.387,28,1,0,0,8
391,19,08/03/2017,246,25,41,244.387,23,1,0,0,16
392,28,10/03/2017,246,25,41,244.387,23,1,0,0,2
393,28,10/03/2017,260,50,36,244.387,23,1,4,0,4
394,28,13/03/2017,179,51,38,244.387,31,1,0,0,2
395,22,13/03/2017,235,11,37,244.387,29,3,1,1,8
396,22,14/03/2017,179,22,40,244.387,22,2,2,0,8
397,22,14/03/2017,378,49,36,244.387,21,1,2,4,8
398,28,20/03/2017,179,51,38,244.387,31,1,0,0,16
399,22,22/03/2017,361,52,28,244.387,27,1,1,4,8
400,0,22/03/2017,369,17,31,244.387,25,1,3,0,0
401,21,23/03/2017,235,11,37,244.387,29,3,1,1,8
402,23,24/03/2017,118,13,50,244.387,31,1,1,0,2
403,14,28/03/2017,118,13,50,244.387,31,1,1,0,3
404,13,29/03/2017,118,13,50,244.387,31,1,1,0,8
405,0,30/03/2017,235,11,37,244.387,29,3,1,1,0
406,0,30/03/2017,246,25,41,244.387,23,1,0,0,0
407,0,30/03/2017,118,13,50,244.387,31,1,1,0,0
408,28,31/03/2017,179,51,38,244.387,31,1,0,0,8
409,22,31/03/2017,289,36,33,244.387,30,1,2,1,8
410,19,27/03/2017,260,50,36,244.387,23,1,4,0,8
411,28,28/03/2017,246,25,41,244.387,23,1,0,0,2
412,28,05/04/2017,179,51,38,239.409,31,1,0,0,4
413,28,07/04/2017,260,50,36,239.409,23,1,4,0,3
414,26,07/04/2017,330,16,28,239.409,25,2,0,0,4
415,22,10/04/2017,369,17,31,239.409,25,1,3,0,4
416,26,10/04/2017,248,25,47,239.409,32,1,2,1,4
417,23,12/04/2017,330,16,28,239.409,25,2,0,0,8
418,28,12/04/2017,179,51,38,239.409,31,1,0,0,8
419,23,17/04/2017,118,13,50,239.409,31,1,1,0,1
420,13,19/04/2017,118,13,50,239.409,31,1,1,0,120
421,28,28/04/2017,300,26,43,239.409,25,1,2,1,8
422,28,28/04/2017,260,50,36,239.409,23,1,4,0,4
423,28,24/04/2017,179,51,38,239.409,31,1,0,0,4

In [9]:
df = df.drop(['ID'], axis = 1)

In [10]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [11]:
raw_csv_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

***Reason for Absence

In [12]:
df['Reason for Absence'].head()

0    26
1     0
2    23
3     7
4    23
Name: Reason for Absence, dtype: int64

In [13]:
df['Reason for Absence'].min()

0

In [14]:
df['Reason for Absence'].max()

28

In [15]:
pd.unique(df['Reason for Absence'])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [16]:
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [17]:
len(df['Reason for Absence'].unique())

28

In [18]:
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

.get_dummies()

In [19]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [20]:
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [21]:
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1

In [22]:
reason_columns['check'].sum(axis=0)

700

In [23]:
reason_columns['check'].unique()

array([1])

In [24]:
reason_columns = reason_columns.drop(['check'], axis = 1)

In [25]:
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [26]:
age_dummies = pd.get_dummies(df['Age'])
age_dummies.head()

,27,28,29,30,31,32,33,34,36,37,38,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [27]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)

In [28]:
reason_columns.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [29]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [30]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [31]:
df = df.drop(['Reason for Absence'], axis = 1)

In [32]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [33]:
reason_columns.loc[:,1:14].max(axis=1)

0      0
1      0
2      0
3      1
4      0
5      0
6      0
7      0
8      0
9      0
10     1
11     1
12     1
13     1
14     0
15     1
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     0
31     0
32     0
33     0
34     0
35     0
36     0
37     1
38     0
39     0
40     0
41     0
42     0
43     0
44     0
45     0
46     0
47     0
48     0
49     1
50     0
51     0
52     0
53     0
54     0
55     0
56     0
57     0
58     0
59     0
60     0
61     0
62     0
63     0
64     0
65     0
66     0
67     0
68     0
69     0
70     0
71     0
72     0
73     0
74     0
75     1
76     0
77     0
78     0
79     0
80     0
81     0
82     1
83     0
84     0
85     1
86     0
87     1
88     0
89     1
90     0
91     0
92     1
93     0
94     0
95     0
96     1
97     0
98     0
99     0
100    0
101    0
102    0
103    0
104    0
105    0
106    0
107    0
108    0
109    0
110    0
111    0
112    0
113    0
114    0
115    0
116    0
117    0
118    0
119    0
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    0
130    0
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    1
139    1
140    0
141    0
142    0
143    0
144    1
145    1
146    0
147    0
148    0
149    0
150    0
151    0
152    0
153    0
154    0
155    0
156    0
157    0
158    0
159    0
160    1
161    1
162    1
163    1
164    1
165    1
166    0
167    1
168    1
169    1
170    0
171    0
172    1
173    1
174    0
175    1
176    1
177    1
178    1
179    1
180    1
181    0
182    1
183    0
184    0
185    0
186    0
187    1
188    0
189    0
190    0
191    1
192    0
193    0
194    1
195    0
196    0
197    0
198    0
199    1
200    0
201    1
202    1
203    0
204    1
205    0
206    0
207    0
208    0
209    1
210    0
211    1
212    1
213    0
214    0
215    0
216    0
217    1
218    1
219    0
220    0
221    0
222    1
223    0
224    1
225    1
226    0
227    1
228    1
229    1
230    0
231    1
232    0
233    1
234    0
235    0
236    0
237    1
238    1
239    0
240    0
241    0
242    0
243    1
244    1
245    0
246    0
247    0
248    0
249    0
250    0
251    0
252    0
253    0
254    0
255    0
256    1
257    1
258    0
259    0
260    0
261    1
262    0
263    1
264    0
265    0
266    0
267    0
268    1
269    1
270    1
271    0
272    0
273    0
274    1
275    0
276    0
277    0
278    1
279    1
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    1
288    1
289    0
290    0
291    0
292    0
293    0
294    0
295    1
296    1
297    0
298    0
299    1
300    0
301    0
302    0
303    0
304    0
305    0
306    0
307    0
308    0
309    0
310    1
311    0
312    0
313    0
314    1
315    1
316    0
317    1
318    0
319    1
320    0
321    0
322    1
323    1
324    0
325    0
326    0
327    1
328    0
329    0
330    1
331    1
332    1
333    0
334    1
335    0
336    0
337    0
338    0
339    1
340    0
341    0
342    0
343    0
344    0
345    1
346    0
347    0
348    0
349    0
350    0
351    0
352    1
353    1
354    0
355    0
356    0
357    0
358    0
359    0
360    0
361    1
362    0
363    0
364    1
365    0
366    0
367    0
368    0
369    0
370    0
371    1
372    0
373    0
374    0
375    0
376    0
377    1
378    0
379    0
380    0
381    0
382    0
383    0
384    1
385    0
386    0
387    1
388    0
389    0
390    0
391    0
392    0
393    0
394    0
395    0
396    0
397    0
398    0
399    0
400    0
401    0
402    0
403    1
404    1
405    0
406    0
407    0
408    0
409    0
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    0
418    0
419    0
420    1
421    0
422    0
423    0
424    1
425    1
426    0
427    1
428    0
429    0
430    0
431    0
432    1
433    1
434    0
435    0
436    1
437    0
438    0
439    1
440    0
441    0
442    0
443    0
444    0
445    0
446    0
447    1
448    0
449    0
450    0
451    0
452    0
453    0
454    0
455    1
456    0
457    0
458    1
459    1
460    0
461    0
462    1
463    1
464    0
465    0
466    0
467    0
468    0
469    0
470    0
471    1
472    0
473    0
474    0
475    0
476    0
477    0
478    0
479    0
480    0
481    0
482    0
483    0
484    0
485    0
486    0
487    0
488    0
489    0
490    0
491    0
492    0
493    0
494    0
495    0
496    0
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    0
505    0
506    0
507    1
508    1
509    0
510    1
511    0
512    0
513    0
514    0
515    0
516    0
517    0
518    0
519    0
520    0
521    1
522    0
523    1
524    1
525    1
526    1
527    0
528    1
529    1
530    0
531    1
532    0
533    0
534    1
535    0
536    1
537    0
538    1
539    0
540    0
541    0
542    1
543    1
544    0
545    0
546    1
547    0
548    0
549    0
550    1
551    0
552    0
553    0
554    0
555    1
556    0
557    0
558    1
559    0
560    0
561    1
562    0
563    0
564    0
565    1
566    0
567    0
568    0
569    0
570    1
571    1
572    0
573    0
574    1
575    0
576    1
577    0
578    0
579    0
580    0
581    0
582    1
583    0
584    0
585    1
586    0
587    1
588    0
589    0
590    0
591    0
592    0
593    0
594    0
595    0
596    1
597    0
598    0
599    0
600    1
601    0
602    0
603    1
604    0
605    0
606    1
607    0
608    0
609    0
610    0
611    1
612    0
613    0
614    0
615    0
616    0
617    0
618    0
619    0
620    0
621    0
622    1
623    0
624    0
625    0
626    0
627    0
628    0
629    0
630    1
631    0
632    0
633    0
634    1
635    1
636    0
637    1
638    0
639    0
640    0
641    0
642    0
643    0
644    0
645    0
646    0
647    0
648    1
649    0
650    0
651    1
652    0
653    0
654    1
655    1
656    0
657    0
658    1
659    0
660    1
661    0
662    0
663    0
664    1
665    0
666    0
667    0
668    0
669    0
670    0
671    0
672    1
673    0
674    0
675    0
676    0
677    1
678    0
679    1
680    0
681    1
682    0
683    0
684    0
685    0
686    1
687    0
688    0
689    0
690    0
691    0
692    1
693    1
694    0
695    1
696    1
697    1
698    0
699    0
dtype: uint8

In [34]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [35]:
reason_type_1

0      0
1      0
2      0
3      1
4      0
5      0
6      0
7      0
8      0
9      0
10     1
11     1
12     1
13     1
14     0
15     1
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     0
31     0
32     0
33     0
34     0
35     0
36     0
37     1
38     0
39     0
40     0
41     0
42     0
43     0
44     0
45     0
46     0
47     0
48     0
49     1
50     0
51     0
52     0
53     0
54     0
55     0
56     0
57     0
58     0
59     0
60     0
61     0
62     0
63     0
64     0
65     0
66     0
67     0
68     0
69     0
70     0
71     0
72     0
73     0
74     0
75     1
76     0
77     0
78     0
79     0
80     0
81     0
82     1
83     0
84     0
85     1
86     0
87     1
88     0
89     1
90     0
91     0
92     1
93     0
94     0
95     0
96     1
97     0
98     0
99     0
100    0
101    0
102    0
103    0
104    0
105    0
106    0
107    0
108    0
109    0
110    0
111    0
112    0
113    0
114    0
115    0
116    0
117    0
118    0
119    0
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    0
130    0
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    1
139    1
140    0
141    0
142    0
143    0
144    1
145    1
146    0
147    0
148    0
149    0
150    0
151    0
152    0
153    0
154    0
155    0
156    0
157    0
158    0
159    0
160    1
161    1
162    1
163    1
164    1
165    1
166    0
167    1
168    1
169    1
170    0
171    0
172    1
173    1
174    0
175    1
176    1
177    1
178    1
179    1
180    1
181    0
182    1
183    0
184    0
185    0
186    0
187    1
188    0
189    0
190    0
191    1
192    0
193    0
194    1
195    0
196    0
197    0
198    0
199    1
200    0
201    1
202    1
203    0
204    1
205    0
206    0
207    0
208    0
209    1
210    0
211    1
212    1
213    0
214    0
215    0
216    0
217    1
218    1
219    0
220    0
221    0
222    1
223    0
224    1
225    1
226    0
227    1
228    1
229    1
230    0
231    1
232    0
233    1
234    0
235    0
236    0
237    1
238    1
239    0
240    0
241    0
242    0
243    1
244    1
245    0
246    0
247    0
248    0
249    0
250    0
251    0
252    0
253    0
254    0
255    0
256    1
257    1
258    0
259    0
260    0
261    1
262    0
263    1
264    0
265    0
266    0
267    0
268    1
269    1
270    1
271    0
272    0
273    0
274    1
275    0
276    0
277    0
278    1
279    1
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    1
288    1
289    0
290    0
291    0
292    0
293    0
294    0
295    1
296    1
297    0
298    0
299    1
300    0
301    0
302    0
303    0
304    0
305    0
306    0
307    0
308    0
309    0
310    1
311    0
312    0
313    0
314    1
315    1
316    0
317    1
318    0
319    1
320    0
321    0
322    1
323    1
324    0
325    0
326    0
327    1
328    0
329    0
330    1
331    1
332    1
333    0
334    1
335    0
336    0
337    0
338    0
339    1
340    0
341    0
342    0
343    0
344    0
345    1
346    0
347    0
348    0
349    0
350    0
351    0
352    1
353    1
354    0
355    0
356    0
357    0
358    0
359    0
360    0
361    1
362    0
363    0
364    1
365    0
366    0
367    0
368    0
369    0
370    0
371    1
372    0
373    0
374    0
375    0
376    0
377    1
378    0
379    0
380    0
381    0
382    0
383    0
384    1
385    0
386    0
387    1
388    0
389    0
390    0
391    0
392    0
393    0
394    0
395    0
396    0
397    0
398    0
399    0
400    0
401    0
402    0
403    1
404    1
405    0
406    0
407    0
408    0
409    0
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    0
418    0
419    0
420    1
421    0
422    0
423    0
424    1
425    1
426    0
427    1
428    0
429    0
430    0
431    0
432    1
433    1
434    0
435    0
436    1
437    0
438    0
439    1
440    0
441    0
442    0
443    0
444    0
445    0
446    0
447    1
448    0
449    0
450    0
451    0
452    0
453    0
454    0
455    1
456    0
457    0
458    1
459    1
460    0
461    0
462    1
463    1
464    0
465    0
466    0
467    0
468    0
469    0
470    0
471    1
472    0
473    0
474    0
475    0
476    0
477    0
478    0
479    0
480    0
481    0
482    0
483    0
484    0
485    0
486    0
487    0
488    0
489    0
490    0
491    0
492    0
493    0
494    0
495    0
496    0
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    0
505    0
506    0
507    1
508    1
509    0
510    1
511    0
512    0
513    0
514    0
515    0
516    0
517    0
518    0
519    0
520    0
521    1
522    0
523    1
524    1
525    1
526    1
527    0
528    1
529    1
530    0
531    1
532    0
533    0
534    1
535    0
536    1
537    0
538    1
539    0
540    0
541    0
542    1
543    1
544    0
545    0
546    1
547    0
548    0
549    0
550    1
551    0
552    0
553    0
554    0
555    1
556    0
557    0
558    1
559    0
560    0
561    1
562    0
563    0
564    0
565    1
566    0
567    0
568    0
569    0
570    1
571    1
572    0
573    0
574    1
575    0
576    1
577    0
578    0
579    0
580    0
581    0
582    1
583    0
584    0
585    1
586    0
587    1
588    0
589    0
590    0
591    0
592    0
593    0
594    0
595    0
596    1
597    0
598    0
599    0
600    1
601    0
602    0
603    1
604    0
605    0
606    1
607    0
608    0
609    0
610    0
611    1
612    0
613    0
614    0
615    0
616    0
617    0
618    0
619    0
620    0
621    0
622    1
623    0
624    0
625    0
626    0
627    0
628    0
629    0
630    1
631    0
632    0
633    0
634    1
635    1
636    0
637    1
638    0
639    0
640    0
641    0
642    0
643    0
644    0
645    0
646    0
647    0
648    1
649    0
650    0
651    1
652    0
653    0
654    1
655    1
656    0
657    0
658    1
659    0
660    1
661    0
662    0
663    0
664    1
665    0
666    0
667    0
668    0
669    0
670    0
671    0
672    1
673    0
674    0
675    0
676    0
677    1
678    0
679    1
680    0
681    1
682    0
683    0
684    0
685    0
686    1
687    0
688    0
689    0
690    0
691    0
692    1
693    1
694    0
695    1
696    1
697    1
698    0
699    0
dtype: uint8

###Group the Reasons for Absence:

In [36]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2

Concatenate Column Values

In [37]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [38]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [39]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [40]:
df.columns = column_names

In [41]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [42]:
df_concatenated = pd.concat([df_no_age, age_dumies], axis=1)
df_concatenated

NameError: name 'df_no_age' is not defined

In [43]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [44]:
df = df[column_names_reordered]

In [45]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

### Create a checkpoint

In [46]:
df_reason_mod = df.copy()

In [47]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [48]:
df_checkpoint = df.copy()

In [49]:
df_checkpoint.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

### Markdown

In [50]:
type(df_reason_mod['Date'][0])

str

In [51]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [52]:
df_reason_mod['Date'].head()

0   2015-07-07
1   2015-07-14
2   2015-07-15
3   2015-07-16
4   2015-07-23
Name: Date, dtype: datetime64[ns]

In [53]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [54]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [55]:
df_reason_mod['Date'][0].month

7

In [56]:
list_months = []
list_months

[]

In [57]:
df_reason_mod.shape

(700, 14)

In [58]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [59]:
list_months

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [60]:
len(list_months)

700

In [61]:
df_reason_mod['Month Value'] = list_months

In [62]:
df_reason_mod.head(20)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,1,2,1,2,8

In [63]:
df_reason_mod['Date'][699].weekday()

3

In [64]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [65]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [66]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [67]:
df_reason_mod = df_reason_mod.drop(['Date'], axis = 1)
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7,3

In [68]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [69]:
column_names_upd = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [70]:
df_reason_mod = df_reason_mod[column_names_upd]
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

In [71]:
df_reason_date_mod = df_reason_mod.copy()

In [72]:
df_reason_date_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

In [73]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4])

In [74]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [75]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [76]:
df_reason_date_mod['Education'].unique()

array([0, 1])

In [77]:
df_reason_date_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

### Final Checkpoint

In [78]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed.head(10)

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
5,0,0,0,1,7,4,179,51,38,239.554,31,0,0,0,2
6,0,0,0,1,7,4,361,52,28,239.554,27,0,1,4,8
7,0,0,0,1,7,4,260,50,36,239.554,23,0,4,0,4
8,0,0,1,0,7,0,155,12,34,239.554,25,0,2,0,40
9,0,0,0,1,7,0,235,11,37,239.554,29,1,1,1,8

In [79]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index=False)